
/*FOOTER*/
footer {
  background-color: #272727;
  border-top: 1px solid #333;

  .inner {
    padding: 40px 0 60px 0;
  }

  .menu {
    display: flex;
    justify-content: center;

    li {
      position: relative;

      &::before {
        content: "";
        width: 3px;
        height: 3px;
        background-color: #555;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -1px;
        margin: auto;
      }

      &:last-child {
        &::before{
          display: none;
        }
      }

      a {
        display: block;
        color: #CCC;
        font-size: 12px;
        font-weight: 700;
        padding: 15px;
      }

      a.green {
        color: #669900;
      }
    } // li
  } // .menu


  .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .btn {
      font-size: 12px;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .info {
    margin-top: 30px;
    text-align: center;

    span {
      margin-right: 20px;
      color: #999;
      font-size: 12px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
  }

  .logo {
    margin: 30px auto 0;
  }
}

