/*NOTICE*/
.notice {
  /*NOTICE LINE*/
  .notice-line {
    position: relative;
  
    .bg-left {
      width: 50%;
      height: 100%;
      background-color: #333;
      position: absolute;
      top: 0;
      left: 0;
    }

    .bg-right {
      width: 50%;
      height: 100%;
      background-color: #f6f5ef;
      position: absolute;
      top: 0;
      right: 0;
    }

    .inner {
      /* bg-left, bg-right 높이를 제어 */
      height: 62px;
      z-index: 1;
      display: flex;
    }

    .inner__left {
      width: 60%;
      height: 100%;
      background-color: #333;
      display: flex;
      align-items: center;

      h2 {
        color: #fff;
        font-size: 17px;
        font-weight: 700;
        margin-right: 20px;
      }

      .swiper-container {
        height: 62px;
        flex-grow: 1;
      }

      .swiper-slide {
        height: 62px;
        display: flex;
        align-items: center;
      }

      .swiper-slide a {
        color: #fff;
      }

      .notice-line__more {
        width: 62px;
        height: 62px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .notice-line__more .material-icons {
        color: #fff;
        font-size: 30px;
      }
    }

    .inner__right {
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      h2 {
        font-size: 17px;
        font-weight: 700;
      }

      .toggle-promotion {
        width: 62px;
        height: 62px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        .material-icons {
          font-size: 30px;
        }
      } // .toggle-promotion
    } // .inner__right
  } // .notice-line
} // .notice