/*REWARDS*/
.rewards {
  position: relative;

  .bg-left {
    width: 50%;
    height: 100%;
    background-color: #272727;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .bg-right {
    width: 50%;
    height: 100%;
    background-color: #d5c798;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .inner {
    background-image: url("../images/rewards.jpg");
    height: 241px;
  }
  
  .btn-group {
    position: absolute;
    right: 0;
    bottom: 24px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;

    .btn.sign-up {
      /*width: 130px;*/
      margin-right: 10px;
    }
    
    .btn.sign-in {
      width: 110px;
    }
    
    .btn.gift {
      margin-top: 10px;
      /* = flex-grow: 1 */
      flex: 1;
    }
  }
}

