/*SEASON PRODUCT*/
.season-product {
  background-image: url("../images/season_product_bg.jpg");

  .inner {
    height: 400px;
  }

  /* .youtube에서 overflow:hidden때문에 여기서 대신 코드를 작성 */
  .floating3 {
    position: absolute;
    top: -200px;
    right: 0;
  }

  .text-group {
    position: absolute;
    top: 110px;
    right: 100px;

    .title {
      margin-bottom: 10px;
    }

    .description {
      margin-bottom: 15px;
    }
  }
}

