// @keyframes를 활용하여 animation을 처리하자

/*BACK TO POSITION*/
.back-to-position {
  opacity: 0;
  transition: 1s;

  &.to-right {
    transform: translateX(-150px);
  }
    

  &.to-left {
    transform: translateX(150px);
  }
}

.show {
  & {
    .back-to-position {
      opacity: 1;
      transform: translateX(0);

      &.delay-0 {
        transition-delay: 0s;
      }
      &.delay-1 {
        transition-delay: .3s;
      }
      &.delay-2 {
        transition-delay: .6s;
      }
      &.delay-3 {
        transition-delay: .9s;
      }
    }
  }
}


