*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* *유니버셜셀렉터는(0,0,0,0) 이다.이게 좋은 방법이다. 왜냐면 플러그인이나 컴포넌트에서 box-sizing을 바꾸기 쉽다. 이걸 꼭 써야할만큼 큰문제를 일으키지는 않지만, 그래도 좋은방법이란다.  */
  box-sizing: inherit;
}

/* root */
html {
  /* em은 계산하기 어려워서 보통 rem을 사용한다. */
  /* 1rem = 10px로 계산하기 편해서 10px로 한다. */
  /* mediaquery 전에 rem으로 세팅해두면 만들기 쉽다! */
  /* rem은 IE9이하에서 지원안함!!! */
  /* font-size: 10px; */
  /* (default) 16px에 62.5%가 10px 이다. */
  /* 혹시!!! default font-size가 16px이 아닌 브라우저가 있을 수도 있으니 %로 맞추는 것이다!  */

  // this defines what 1rem is
  // font-size: 62.5%
}

// _typography.scss와 분류했다. 그 파일에 적합한 속성을 나눴다.
body {
  // box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

img {
  /* img(인라인 요소) 하단에 Baseline 공백을 제거 */
  display: block;
}